<!--
=========================================================
* Soft UI Design System - v1.0.9
=========================================================

* Product Page:  https://www.creative-tim.com/product/soft-ui-design-system 
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png" />
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png" />

  <title>Service Provider | slug | Event Master</title>

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

  <!-- Nucleo Icons -->
  <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />

  <!-- CSS Files -->
  <link id="pagestyle" href="/static/assets/css/soft-design-system.css?v=1.0.9" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">


  <style>
    #editor {
      width: 100% !important;
      /* Adjust width as needed */
      height: 1000px !important;
      /* Adjust height as needed */
    }

    textarea {
      field-sizing: content;
    }

    .splide__slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px; /* Adjust height as needed */

  }


    /* For medium-sized screens (tablets) */
    @media (max-width: 1024px) {
        .splide__slide {
            height: 250px; /* Adjust height for tablets */
        }
    }

    /* For small screens (mobile devices) */
    @media (max-width: 768px) {
        .splide__slide {
            height: 200px; /* Adjust height for mobile devices */
        }
    }


  </style>
</head>

<body class="index-page">
  <!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        {% include 'includes/nav.html' %}

        <!-- End Navbar -->
      </div>
    </div>
  </div>


  <section class="pt-3 pb-4" id="count-stats">
    
    <div class="p-3 shadow-blur">
      <div class="container">
        <div class="page-header min-height-300 border-radius-xl mt-4" style="
              background-image: url('/static/assets/img/curved-images/curved.jpg');
              background-position-y: 50%;
            "></div>
        <div class="card card-body blur mx-4 mt-n6 overflow-hidden">
          <div class="row gx-4">
            <div class="col-auto">
              <div class="avatar avatar-xl position-relative">
                <img src="{{ provider.logo.url }}" alt="profile_image"
                  class="w-100 border-radius-lg shadow-sm" />
              </div>
            </div>
            <div class="col-auto my-auto">
              <div class="h-100">
                <h5 class="mb-1">{{ provider.name }}</h5>
                <p class="mb-0 font-weight-bold text-sm text-capitalize">
                  {{ provider.user.first_name }} {{ provider.user.last_name}}
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
              <div class="nav-wrapper position-relative end-0">
                <ul class="nav nav-pills bg-transparent nav-fill" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">

                    <a class="nav-link active" id="services-tab"  data-bs-toggle="tab" href="#services" role="tab"
                      aria-controls="contact" aria-selected="false">Services</a>
                  </li>

                  <li class="nav-item" role="presentation">
                    <a class="nav-link" id="posts-tab" data-bs-toggle="tab" href="#posts" role="tab"
                      aria-controls="profile" aria-selected="false">Posts</a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-3">
        <div class="col-12 col-md-6 col-xl-3 mt-md-0 mt-4 d-none d-sm-block">
          <div class="card h-auto">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                  <h6 class="mb-0">Profile Information</h6>
                </div>
                {% for group in request.user.groups.all %}

                  {% if group.name == 'provider' %}
                    {% if request.user.id == provider.user.id %}

                    <div class="col-md-4 text-end">
                      <a href="javascript:;">
                        <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="modal" data-bs-target="#update-information"
                          aria-hidden="true" aria-label="Edit Profile" data-bs-original-title="Edit Profile"></i><span
                          class="sr-only">Edit Profile</span>
                      </a>
                    </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}


              </div>
            </div>
            <div class="card-body p-3">
              <p class="text-sm">{{ provider.desc }}</p>
              <hr class="horizontal gray-light my-4" />
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 text-sm">
                  <strong class="text-dark">Mobile:</strong> &nbsp; {{ provider.contact_number }}
                </li>
                <li class="list-group-item border-0 ps-0 text-sm">
                  <strong class="text-dark">Email:</strong> &nbsp; {{ provider.user.email }}
                </li>
                <li class="list-group-item border-0 ps-0 text-sm">
                  <strong class="text-dark">Address:</strong> &nbsp; {{ provider.address }}
                </li>

              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-9 mt-xl-0 mt-4">
          <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="services" role="tabpanel" aria-labelledby="services-tab">


              <div class="row">

                {% for service in services %}

                  <div class="row mb-3">

                    <div class="col-md-7 pl-md-0">
                      <div class="card card-pricing border-0 text-center">
                        <div class="card-header bg-transparent mb-0">
                            <h3 class="text-uppercase text-gradient text-info p-3 mb-0">{{ service.name }}</h3>
       

                        </div>
                        <div class="card-body">
                            <p class="card-description">{{ service.description }}</p>

                            {% if service.images.all %}
                            <div id="serviceSplide-{{ service.id }}" class="splide">
                              <div class="splide__track">
                                  <ul class="splide__list">
                                      {% for image in service.images.all %}
                                      <li class="splide__slide">
                                          <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.description }}" style="width: auto; height: 300px" />
                                      </li>
                                      {% endfor %}
                                  </ul>
                              </div>
                            </div>
                            {% else %}
                                <p> No available image </p>
    
                            {% endif %}

                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-5 pr-md-0">
                      <div class="card card-pricing text-center bg-default">
                          <div class="card-body px-lg-6">
                            <div class="display-6 fw-bold text-dark">₱ {{ service.price|floatformat:0 }}</div>
                            <span class=" text-muted">Base price</span>
                            <ul class="list-unstyled my-3">

                              {% for inclusion in service.inclusions_list %}
                                <li>
                                  <div class="d-flex align-items-center">
    
                                      <div>
                                        
                                        <i class="fa fa-check text-dark"></i>
                                        <span class="pl-2 text-sm">{{ inclusion }}</span>
                                      </div>
    
                                  </div>
                                </li>
                              {% endfor %}

                            </ul>
                            

                          </div>
                          {% for group in request.user.groups.all %}

                          {% if group.name == 'provider' %}
                            {% if request.user.id == provider.user.id %}

                              <div class="card-footer bg-transparent">

                                {% if request.user.id == provider.user.id %}
                                <a class="update-button" type="button" data-bs-toggle="modal" data-bs-target="#update-service" data-service-id="{{ service.id }}"
                                data-service-name="{{ service.name }}"
                                data-service-price="{{ service.price }}"
                                data-service-description="{{ service.description }}"
                                data-service-inclusions="{{ service.inclusions }}"
                                data-provider-id="{{ provider.id }}">
                                  Update Service
                                </a>
                                {% endif %}

                              </div>

                            {% endif %}

                            {% elif group.name == 'customer' %}
                            <div class="card-footer bg-transparent">
                              <!-- Button to add service to event -->
                              <button type="button" class="btn btn-outline-info mb-3" 
                                  data-bs-toggle="modal" 
                                  data-bs-target="#add-service-event" 
                                  data-service-id="{{ service.id }}" 
                                  data-provider-id="{{ service.provider.id }}">Add to event</button>
                          
                              <!-- Button to inquire service -->
                              <button type="button" class="btn btn-info mb-3"  
                                  data-bs-toggle="modal" 
                                  data-bs-target="#modal-message" 
                                  data-service-id="{{ service.id }}" 
                                  data-service-name="{{ service.name }}" 
                                  data-provider-id="{{ service.provider.id }}">Inquire Service</button>
                          </div>
                          
                          {% endif %}

                          {% endfor %}
                      </div>
                    </div>
    
                  </div>

                <!--
                  <div class="shadow-blur mb-3">
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="card-body">
                          <div class="d-flex justify-content-between align-items-center">
                          <h3 class="text-gradient text-info p-3">
                            {{ service.name }}
                          </h3>
                          
                          {% if request.user.id == provider.user.id %}
                          <a class="update-button" type="button" data-bs-toggle="modal" data-bs-target="#update-service" data-service-id="{{ service.id }}"
                          data-service-name="{{ service.name }}"
                          data-service-price="{{ service.price }}"
                          data-service-description="{{ service.description }}"
                          data-service-inclusions="{{ service.inclusions }}"
                          data-provider-id="{{ provider.id }}">
                            <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                              aria-hidden="true" aria-label="Edit Service" data-bs-original-title="Edit Service"></i><span
                              class="sr-only">Edit Service</span>
                          </a>
                          {% endif %}
                        </div>



                          <p class="p-3">{{ service.description }}</p>
                          <div class="row mt-5 p-2 mb-2">
                            <div class="col-lg-3 col-12">
                              <h6 class="text-dark tet-uppercase">
                                What&#39;s included
                              </h6>
                            </div>
                            <div class="col-6">
                              <hr class="horizontal dark" />
                            </div>
                          </div>
                          <div class="row">
                            {% for inclusion in service.inclusions_list %}
                            <div class="col-lg-6 col-md-6 col-12">
                              <div class="info d-flex align-items-center p-2">
                                <div
                                  class="icon icon-shape icon-xs rounded-circle bg-gradient-info opacity-6 shadow text-center">
                                  <i class="fas fa-check opacity-10"></i>
                                </div>
                                <div>
                                  <span class="ps-2">{{ inclusion }}</span>
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 my-auto">
                        <div class="card-body text-center">
                          <h6 class="mt-4 mb-0">Pay once, Own the Moment</h6>
                          <h4 class="mt-0">
                            <small>₱</small>{{ service.price }}
                          </h4>
                          <button type="button" class="btn bg-gradient-info btn-md mt-2">
                            Get Access
                          </button>
                          <p class="text-sm">Base Price</p>
                        </div>
                      </div>
                    </div>
                  </div>
                -->


                {% endfor %}

              </div>
            </div>

            <div class="tab-pane fade" id="posts" role="tabpanel" aria-labelledby="posts-tab">


              {% for post in service_posts reversed %}
                <div class="card h-auto container mb-2">
                    <div class="card-header d-flex align-items-center border-bottom py-3">
                        <div class="d-flex align-items-center">
                            <a href="javascript:;">
                                <img src="{{ post.created_by.logo.url }}" class="avatar" alt="profile-image">
                            </a>
                            <div class="mx-3">
                                <a href="javascript:;" class="font-weight-bold text-md text-info">{{ post.created_by.name }}</a>
                                <small class="d-block text-muted">Posted: {{ post.created_at|timesince }} ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="mt-lg-0 mt-4">{{ post.title }}</h6>
                        <p class="mb-0">
                            {{ post.description|safe }}
                        </p>
                
                        <!-- Splide slider -->
                         {% if post.images.all %}
                         <div id="postSplide-{{ post.id }}" class="splide">
                          <div class="splide__track">
                              <ul class="splide__list">
                                  {% for image in post.images.all %}
                                  <li class="splide__slide">
                                      <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.description }}" style="width: auto; height: 300px" />
                                  </li>
                                  {% endfor %}
                              </ul>
                          </div>
                        </div>
                        {% else %}
                          <p> No available image </p>
                        {% endif%}
                
                        <hr class="dark horizontal">
                
                        <!-- Comment toggle button -->
                        <a type="button" class="mb-2 toggle-comments-btn" data-post-id="{{ post.id }}">View all comments</a>
                
                        <div class="mb-1 post" data-post-id="{{ post.id }}">
                            <!-- Comments section hidden by default -->
                            <div id="comments-{{ post.id }}" class="comments" style="display: none;">
                                {% for comment in post.comments.all %}
                                <div class="d-flex mb-1">
                                    <div class="flex-shrink-0">
                                        <img alt="Image placeholder" class="avatar rounded-circle" src="/static/images/default-avatar.png">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="h6 mt-0 text-capitalize">{{ comment.author.first_name }} {{ comment.author.last_name }}</h6>
                                        <p class="text-sm">{{ comment.content }}</p>
                                        <small class="text-xxs">{{ comment.created_at|timesince }} ago</small>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                
                            <!-- Add new comment section -->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0">
                                    <img alt="Image placeholder" class="avatar rounded-circle me-3" src="/static/images/default-avatar.png">
                                </div>
                                <div class="flex-grow-1 my-auto">
                                    <form class="commentForm" action="{% url 'add_comment_post' %}" method="POST" onsubmit="return validateComment()">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ post.id }}" name="post_id">
                                        <div class="form-group">
                                            <textarea class="form-control" name="comment" id="comment_box" required placeholder="Write your comment here..." rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-sm bg-gradient-info">Post Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
              

            </div>
          </div>
        </div>
      </div>
    </div>

   
  </section>

  <!-- -------   START PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->
  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ms-auto">
          <h4 class="mb-1">Thank you for your support!</h4>
          <p class="lead mb-0">
            We offer the best services, that you can imagine.
          </p>
        </div>
        <div class="col-lg-5 me-lg-auto my-lg-auto text-lg-end mt-5">
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/soft-ui-design-system"
            class="btn btn-gradient-info mb-0 me-2 text-info" target="_blank">
            <i class="fab fa-facebook-square me-1"></i> Share
          </a>
          <a href="https://twitter.com/intent/tweet?text=Check%20Soft%20UI%20Design%20System%20made%20by%20%40CreativeTim%20%23webdesign%20%23designsystem%20%23bootstrap5&url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fsoft-ui-design-system"
            class="btn btn-info mb-0 me-2" target="_blank">
            <i class="fab fa-twitter me-1"></i> Tweet
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- -------   END PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5" />
    <div class="container">
      <div class="row">


        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
              All rights reserved. Copyright ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              EventMaster by
              <a href="javascript:;">Vanceeq</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- MODALS -->

<!-- Modal -->


<!-- Add Service to Event Modal -->
<div class="modal fade" id="add-service-event" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h6 class="modal-title" id="modal-title-notification">Add service to event:</h6>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" id="add-service-form" action="{% url 'add_service_to_event' %}">
              {% csrf_token %}
              
              <!-- Hidden fields to populate -->
              <input type="hidden" id="service_id" name="service_id">
              <input type="hidden" id="provider_id" name="provider_id">

              <div class="modal-body">
                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Please select an event:</label>
                      <select class="form-control" id="event_select" name="event_id">
                          <option value="">.............</option>
                          <!-- Add your event options here -->
                      </select>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-white">Ok, Got it</button>
                  <button type="button" class="btn btn-danger text-white ml-auto" data-bs-dismiss="modal">Close</button>
              </div>
          </form>
      </div>
  </div>
</div>


<!-- Inquire Service Modal -->
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message to provider</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" action="{% url 'inquire_service' %}">
              {% csrf_token %}
              
              <!-- Hidden fields to populate -->
              <input type="hidden" id="provider_id_message" name="provider">
              <input type="hidden" id="service_id_message" name="service_id">

              <div class="modal-body">
                  <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Service:</label>
                      <input type="text" class="form-control" id="service_name_message" name="service" disabled>
                  </div>
                  <div class="form-group">
                      <label for="message-text" class="col-form-label">Message:</label>
                      <textarea class="form-control" name="message" rows="3" id="message-text">Hi, I'm interested in your service.
                      </textarea>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn bg-gradient-info">Send message</button>
              </div>
          </form>
      </div>
  </div>
</div>




  <!-- Modal HTML -->
  <div class="modal fade" id="update-service" tabindex="-1" role="dialog" aria-labelledby="modal-default"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Update Service</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <form id="update_serviceForm" method="POST" action="">
          {% csrf_token %}
          <div class="modal-body">
            <input type="hidden" name="provider_id" id="provider_id" />
            <input type="hidden" name="user_id" value="{{ request.user.id }}"/>
            <div class="form-group">
              <label for="service_name">Service Name:</label>
              <input type="text" class="form-control" id="service_name" name="service_name" required placeholder="Service..." />
            </div>

            <div class="form-group">
              <label for="price" class="form-control-label">Price:</label>
              <input class="form-control" type="number" id="price" name="price" required placeholder="5000" />
            </div>

            <div class="form-group">
              <label for="description">Description:</label>
              <textarea class="form-control" id="description" name="description" required rows="auto"></textarea>
            </div>

            <div class="form-group">
              <label for="inclusions">Inclusions:</label>
              <textarea class="form-control" id="inclusions" name="inclusions" required rows="2"></textarea>
              <small class="form-text text-muted">Please separate each inclusion with a comma.</small>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn bg-gradient-primary">Save changes</button>
            <button type="button" class="btn btn-link ml-auto" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>


><!-- MODAL UPDATE INFORMATION -->

  <!-- Modal HTML -->
<div class="modal fade" id="update-information" tabindex="-1" role="dialog" aria-labelledby="modal-default"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Update Information</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <form id="update_information_form" action="{% url 'update-provider' %}" method="POST"  enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body">

            <input type="hidden" value="{{ provider.user.id }}" name="provider_id">

            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
              <div id="profile-pic-container" class="mb-3">
                  <img id="profile-pic" src="{{ provider.logo.url }}" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
              </div>
              <div class="mb-3">
                  <input type="file" id="file-input" name="logo" class="d-none" accept="image/*">
                  <button id="change-profile-btn" type="button" class="btn btn-sm btn-secondary">Change Logo</button>
              </div>
            </div>

            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="service_name">FirstName:</label>
                  <input type="text" class="form-control" name="firstname" value="{{ provider.user.first_name }}" required />
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="service_name">LastName:</label>
                  <input type="text" class="form-control" name="lastname" value="{{ provider.user.last_name }}" required />
                </div>

              </div>



              <div class="col-md-4">
                <div class="form-group">
                  <label for="service_name">Contact Number:</label>
                  <input type="text" class="form-control" name="contact_number"  value="{{ provider.contact_number }}" required placeholder="Service..." />
                </div>
              </div>
  
              <div class="col-md-8">
                <div class="form-group">
                  <label for="service_name">Email:</label>
                  <input type="text" class="form-control" name="email" value="{{ provider.user.email }}" required placeholder="Service..." />
                </div>
              </div>



              <div class="col-md-12">
                <div class="form-group">
                  <label for="service_name">Address:</label>
                  <input type="text" class="form-control" name="address" value="{{ provider.address }}" required placeholder="Service..." />
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Bio:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" name="bio" rows="1">{{ provider.desc}}</textarea>
                </div>

              </div>





            </div>

          <div class="modal-footer">
            <button type="submit" class="btn bg-gradient-info">Save changes</button>
          </div>
        </form>
      </div>
    </div>
</div>







<!-- Modal -->



  <!--   Core JS Files   -->
  {% include 'includes/scripts.html' %}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Fetch events from the server
        fetch('/fetch-events/')
            .then(response => response.json())
            .then(data => {
                const selectElement = document.getElementById('event_select');
                const events = data.events;
  
                // Clear existing options except the placeholder
                selectElement.innerHTML = '<option value="">.............</option>';
  
                // Populate the dropdown with event options
                events.forEach(event => {
                    const option = document.createElement('option');
                    option.value = event.id;
                    option.textContent = `${event.title} (${event.event_date})`;
                    selectElement.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error fetching events:', error);
            });
    });
  </script>

  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('add-service-form'); // Replace with your form's ID
  
        form.addEventListener('submit', function(event) {
            event.preventDefault();
  
            const formData = new FormData(form);
  
            fetch('/add-service-to-event/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Service added to event successfully') {
                    Swal.fire({
                        title: 'Success!',
                        text: data.message,
                        icon: 'success',
                        timer: 500,  // Set timer duration (2000ms = 2 seconds)
                        timerProgressBar: true,  // Show the progress bar
                        showConfirmButton: false  // Remove the OK button
  
                    }).then(() => {
                        window.location.href = '/customer/added-service/';
                    });
                } else {
                    Swal.fire({
                        text: data.message,
                        icon: 'info',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    title: 'Error!',
                    text: 'An unexpected error occurred.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
                console.error('Error:', error);
            });
        });
    });
  </script>
  
<script>
  // For Add Service to Event modal
var addServiceModal = document.getElementById('add-service-event');
addServiceModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;  // Button that triggered the modal
    var serviceId = button.getAttribute('data-service-id');  // Extract the service ID
    var providerId = button.getAttribute('data-provider-id');  // Extract the provider ID

    // Find the input fields in the modal and set their values
    var modalServiceInput = addServiceModal.querySelector('#service_id');
    var modalProviderInput = addServiceModal.querySelector('#provider_id');

    modalServiceInput.value = serviceId;
    modalProviderInput.value = providerId;
});

// For Inquire Service modal
var inquireServiceModal = document.getElementById('modal-message');
inquireServiceModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;  // Button that triggered the modal
    var serviceId = button.getAttribute('data-service-id');  // Extract the service ID
    var providerId = button.getAttribute('data-provider-id');  // Extract the provider ID
    var serviceName = button.getAttribute('data-service-name');  // Extract the service name

    // Find the input fields in the modal and set their values
    var modalServiceInput = inquireServiceModal.querySelector('#service_id_message');
    var modalProviderInput = inquireServiceModal.querySelector('#provider_id_message');
    var modalServiceNameInput = inquireServiceModal.querySelector('#service_name_message');

    modalServiceInput.value = serviceId;
    modalProviderInput.value = providerId;
    modalServiceNameInput.value = serviceName;
});

</script>
  <script>
    document.getElementById('change-profile-btn').addEventListener('click', function() {
      document.getElementById('file-input').click(); // Trigger the file input click
  });
  
  // Preview the selected image
  document.getElementById('file-input').addEventListener('change', function(event) {
      const file = event.target.files[0]; // Get the selected file
      if (file) {
          const reader = new FileReader();
          reader.onload = function(e) {
              document.getElementById('profile-pic').src = e.target.result; // Show the preview
          };
          reader.readAsDataURL(file); // Read the file as data URL
      }
  });
  
  
  </script>

  
  <script>
    $('#update_information_form').on('submit', function(e) {
        e.preventDefault();
        var form = $(this);
        
        // Create a FormData object
        var formData = new FormData(form[0]);
        
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: formData,
            processData: false,  // Important
            contentType: false,  // Important
            success: function(response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: response.message,
                    showConfirmButton: true,
                }).then(function() {
                    location.reload();  // Reload the page after success
                });
            },
            error: function(xhr) {
                var errorMessage = xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : 'An unknown error occurred.';
                
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: errorMessage,
                });
            }
        });
    });
</script>




  <script>
      document.addEventListener('DOMContentLoaded', function() {
      
        const toggleButtons = document.querySelectorAll('.toggle-comments-btn');
        
        toggleButtons.forEach(button => {
            button.addEventListener('click', function() {
                const postId = this.getAttribute('data-post-id');
                const commentsSection = document.getElementById(`comments-${postId}`);
                
              
                if (commentsSection.style.display === 'none' || commentsSection.style.display === '') {
                    commentsSection.style.display = 'block';
                    this.textContent = 'Hide comments'; 
                } else {
                    commentsSection.style.display = 'none';
                    this.textContent = 'View all comments'; 
                }
            });
        });
    });

  </script>

  <script>
    // Initialize all service splide sliders
    document.querySelectorAll('[id^="serviceSplide"]').forEach(function(el) {
      var serviceSplide = new Splide('#' + el.id, {
          type: 'fade',
          rewind: true,
      });
      serviceSplide.mount();
    });

    // Initialize all post splide sliders
    document.querySelectorAll('[id^="postSplide"]').forEach(function(el) {
      var postSplide = new Splide('#' + el.id, {
          type: 'fade',
          rewind: true,
      });
      postSplide.mount();
    });

</script>




  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("serviceForm");

      form.addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the form from submitting normally

        const formData = new FormData(form);

        fetch(form.action, {
          method: "POST",
          body: formData,
          headers: {
            "X-Requested-With": "XMLHttpRequest", // Ensure it's an AJAX request
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.message) {
              // Show a success message with a timer
              Swal.fire({
                title: "Success!",
                text: data.message,
                icon: "success",
                timer: 1000, // Time in milliseconds (2000ms = 2 seconds)
                timerProgressBar: true,
                confirmButton: false,

                showConfirmButton: false,
                didClose: () => {
                  // Redirect to the provider page after the alert closes
                  const providerId = form.querySelector(
                    'input[name="user_id"]'
                  ).value;
                  window.location.href = `/service-provider/${providerId}/`;
                },
              });
            } else {
              // Show an error message with a timer
              Swal.fire({
                title: "Error!",
                text: "Something went wrong!",
                icon: "error",
                timer: 2000, // Time in milliseconds (2000ms = 2 seconds)
                timerProgressBar: true,
              });
            }
          })
          .catch((error) => {
            // Show an error message with a timer
            Swal.fire({
              title: "Error!",
              text: "An error occurred while processing your request.",
              icon: "error",
              timer: 2000, // Time in milliseconds (2000ms = 2 seconds)
              timerProgressBar: true,
            });
          });
      });
    });
  </script>

  <script>
    document
      .getElementById("createPostForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);

        fetch(form.action, {
          method: "POST",
          body: formData,
          headers: {
            "X-Requested-With": "XMLHttpRequest", 
            "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.message === "Post created successfully!") {
              Swal.fire({
                title: "Success!",
                text: data.message,
                icon: "success",
                timer: 1000, 
                timerProgressBar: true,
                confirmButton: false,

                showConfirmButton: false,
                didClose: () => {
                  // Redirect to the provider page after the alert closes
                  const providerId = form.querySelector(
                    'input[name="user_id"]'
                  ).value;
                  window.location.href = `/service-provider/${providerId}/`;
                },
              });
            } else {
              Swal.fire({
                icon: "error",
                title: "Error!",
                text: data.message || "An unexpected error occurred.",
                confirmButtonText: "OK",
              });
            }
          })
          .catch((error) => {
            Swal.fire({
              icon: "error",
              title: "Error!",
              text: "An error occurred while processing your request.",
              confirmButtonText: "OK",
            });
          });
      });
  </script>

  <script>

    document.addEventListener('DOMContentLoaded', function () {

      document.querySelectorAll('.update-button').forEach(button => {
        button.addEventListener('click', function () {
  
          const serviceId = this.getAttribute('data-service-id');
          const serviceName = this.getAttribute('data-service-name');
          const servicePrice = this.getAttribute('data-service-price');
          const serviceDescription = this.getAttribute('data-service-description');
          const serviceInclusions = this.getAttribute('data-service-inclusions');
          const providerId = this.getAttribute('data-provider-id');

     
          document.getElementById('provider_id').value = providerId;
          document.getElementById('service_name').value = serviceName;
          document.getElementById('price').value = servicePrice;
          document.getElementById('description').textContent = serviceDescription;
          document.getElementById('inclusions').textContent = serviceInclusions;
          
     
          const form = document.getElementById('update_serviceForm');
          form.action = `/update-service/${serviceId}/`;
        });
        
      });
    });

  </script>




  <script>
    $(document).ready(function() {
        $('.commentForm').on('submit', function(event) {
            event.preventDefault(); 

            var form = $(this);
            var postId = form.find('input[name="post_id"]').val(); 
            var comment = form.find('textarea[name="comment"]').val().trim(); 
            var commentsSection = $('#comments-' + postId);
       
              if (comment === "") {
                alert("Comment cannot be empty or just spaces.");
                return;  
            }
            $.ajax({
                type: 'POST',
                url: form.attr('action'), 
                data: form.serialize(),
                success: function(response) {
                    
                    commentsSection.append(
                        `<div class="d-flex mb-1">
                            <div class="flex-shrink-0">
                                <img alt="Image placeholder" class="avatar rounded-circle" src="/static/images/default-avatar.png">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="h6 mt-0 text-capitalize">${response.author}</h6>
                                <p class="text-sm">${response.content}</p>
                                <small class="text-xxs">${response.created_at}</small>
                            </div>
                        </div>`
                    );
                    
                    form.find('textarea[name="comment"]').val('');
                },
                error: function(xhr) {
                    alert('Error: ' + xhr.responseJSON.error);
                }
            });
        });
    });
</script>


</body>

</html>